# Relatório de Análise VI

## Criando Novas Variáveis

In [23]:
import pandas as pd

In [24]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [25]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0

In [26]:
dados['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']

In [27]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0

In [28]:
dados['Valor m2'] = dados['Valor'] / dados['Area']

In [29]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.500000
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.000000
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.333333
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.666667
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.000000
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.333333
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.384615
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.428571
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0,16.666667
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0,50.000000

In [30]:
dados['Valor m2'] = dados['Valor m2'].round(2)

In [31]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0,16.67
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0,50.00

In [32]:
dados['Valor Bruto m2'] = (dados['Valor Bruto'] / dados['Area']).round(2)

In [33]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33,29.33
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38,15.38
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43,31.66
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0,16.67,21.88
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0,50.00,65.28

In [34]:
casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [35]:
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

In [36]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33,29.33,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38,15.38,Casa
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43,31.66,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0,16.67,21.88,Apartamento
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0,50.00,65.28,Apartamento
10,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,2301.0,66.67,85.22,Apartamento
11,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,15803.0,53.50,65.03,Apartamento
12,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0,2000.0,17.39,17.39,Casa
13,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,1278.0,17.59,23.67,Apartamento
14,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,2436.0,25.37,36.36,Apartamento
15,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,2738.0,17.27,24.89,Apartamento
16,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,10195.0,16.09,21.88,Casa
17,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,1670.0,14.71,24.56,Apartamento
18,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,2700.0,25.64,34.62,Apartamento
19,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,9563.0,56.00,76.50,Apartamento
20,Apartamento,Tijuca,1,0,0,48,750.0,772.0,25.0,1547.0,15.62,32.23,Apartamento
21,Apartamento,Barra da Tijuca,3,3,1,175,4200.0,1500.0,500.0,6200.0,24.00,35.43,Apartamento
22,Casa,Campo Grande,4,1,2,400,12000.0,0.0,0.0,12000.0,30.00,30.00,Casa
23,Apartamento,Botafogo,2,1,0,76,2500.0,740.0,0.0,3240.0,32.89,42.63,Apartamento
24,Apartamento,Copacabana,3,1,2,378,10000.0,2150.0,700.0,12850.0,26.46,33.99,Apartamento
25,Apartamento,Copacabana,3,0,0,180,5500.0,1780.0,420.0,7700.0,30.56,42.78,Apartamento
26,Apartamento,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,0.0,2948.0,21.90,28.08,Apartamento
27,Apartamento,Leblon,3,1,0,110,3900.0,1500.0,120.0,5520.0,35.45,50.18,Apartamento
28,Quitinete,Copacabana,1,0,0,27,1300.0,380.0,53.0,1733.0,48.15,64.19,Apartamento
29,Apartamento,Jardim Oceânico,3,3,1,200,3500.0,1780.0,496.0,5776.0,17.50,28.88,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21796,Apartamento,Ipanema,1,0,0,55,2000.0,630.0,19.0,2649.0,36.36,48.16,Apartamento
21797,Apartamento,Recreio dos Bandeirantes,3,2,1,100,2500.0,650.0,1864.0,5014.0,25.00,50.14,Apartamento
21798,Apartamento,Jardim Botânico,3,1,2,145,5000.0,1296.0,317.0,6613.0,34.48,45.61,Apartamento
21799,Apartamento,Recreio dos Bandeirantes,3,2,1,115,2000.0,482.0,166.0,2648.0,17.39,23.03,Apartamento
21800,Apartamento,Barra da Tijuca,1,1,0,62,1700.0,945.0,180.0,2825.0,27.42,45.56,Apartamento
21801,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,0.0,23000.0,20.00,23.00,Casa
21802,Apartamento,Campinho,2,0,0,63,800.0,392.0,0.0,1192.0,12.70,18.92,Apartamento
21803,Apartamento,Freguesia (Jacarepaguá),2,1,0,60,500.0,900.0,148.0,1548.0,8.33,25.80,Apartamento
21804,Casa,Centro,5,0,1,160,5000.0,0.0,80.0,5080.0,31.25,31.75,Casa
21805,Apartamento,Todos os Santos,3,0,0,54,1500.0,289.0,35.0,1824.0,27.78,33.78,Apartamento
21806,Apartamento,Recreio dos Bandeirantes,2,1,1,105,2100.0,648.0,156.0,2904.0,20.00,27.66,Apartamento
21807,Apartamento,Jacarepaguá,2,1,1,78,2200.0,790.0,180.0,3170.0,28.21,40.64,Apartamento
21808,Apartamento,Leblon,1,1,1,50,4300.0,1730.0,259.0,6289.0,86.00,125.78,Apartamento
21809,Apartamento,Copacabana,2,0,1,70,4100.0,700.0,90.0,4890.0,58.57,69.86,Apartamento
21810,Apartamento,Copacabana,1,0,0,50,1950.0,450.0,70.0,2470.0,39.00,49.40,Apartamento
21811,Apartamento,Barra da Tijuca,2,1,1,85,2250.0,1561.0,197.0,4008.0,26.47,47.15,Apartamento
21812,Apartamento,Barra da Tijuca,3,2,0,98,2300.0,887.0,177.0,3364.0,23.47,34.33,Apartamento
21813,Apartamento,Barra da Tijuca,3,2,2,140,5500.0,1900.0,700.0,8100.0,39.29,57.86,Apartamento
21814,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,0.0,2340.0,17.61,26.59,Apartamento
21815,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0,1986.0,68.18,90.27,Apartamento
21816,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0,4259.0,37.50,53.24,Apartamento
21817,Apartamento,Ipanema,3,1,2,150,15000.0,1400.0,600.0,17000.0,100.00,113.33,Apartamento
21818,Apartamento,Tijuca,1,0,0,28,1000.0,360.0,25.0,1385.0,35.71,49.46,Apartamento
21819,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,0.0,1550.0,19.23,29.81,Apartamento
21820,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0,19043.0,33.33,42.32,Casa
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.86,20.54,Apartamento
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.63,43.52,Apartamento
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08,33.85,Apartamento
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17,40.54,Apartamento
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86,53.71,Apartamento

## Excluindo Variáveis

In [37]:
dados_aux = pd.DataFrame(dados[['Tipo Agregado', 'Valor m2', 'Valor Bruto', 'Valor Bruto m2']])

In [38]:
dados_aux.head(10)

  Tipo Agregado  Valor m2  Valor Bruto  Valor Bruto m2
0   Apartamento     42.50       2260.0           56.50
1          Casa     70.00       7000.0           70.00
2   Apartamento     53.33       1210.0           80.67
3   Apartamento     16.67       1030.0           21.46
4   Apartamento     26.00       1618.0           32.36
5          Casa     29.33      22000.0           29.33
6          Casa     15.38       1000.0           15.38
7   Apartamento     21.43       2216.0           31.66
8   Apartamento     16.67       1969.0           21.88
9   Apartamento     50.00       2611.0           65.28

In [39]:
del dados_aux['Valor Bruto']

In [40]:
dados_aux.head(10)

  Tipo Agregado  Valor m2  Valor Bruto m2
0   Apartamento     42.50           56.50
1          Casa     70.00           70.00
2   Apartamento     53.33           80.67
3   Apartamento     16.67           21.46
4   Apartamento     26.00           32.36
5          Casa     29.33           29.33
6          Casa     15.38           15.38
7   Apartamento     21.43           31.66
8   Apartamento     16.67           21.88
9   Apartamento     50.00           65.28

In [41]:
dados_aux.pop('Valor Bruto m2')

0         56.50
1         70.00
2         80.67
3         21.46
4         32.36
5         29.33
6         15.38
7         31.66
8         21.88
9         65.28
10        85.22
11        65.03
12        17.39
13        23.67
14        36.36
15        24.89
16        21.88
17        24.56
18        34.62
19        76.50
20        32.23
21        35.43
22        30.00
23        42.63
24        33.99
25        42.78
26        28.08
27        50.18
28        64.19
29        28.88
          ...
21796     48.16
21797     50.14
21798     45.61
21799     23.03
21800     45.56
21801     23.00
21802     18.92
21803     25.80
21804     31.75
21805     33.78
21806     27.66
21807     40.64
21808    125.78
21809     69.86
21810     49.40
21811     47.15
21812     34.33
21813     57.86
21814     26.59
21815     90.27
21816     53.24
21817    113.33
21818     49.46
21819     29.81
21820     42.32
21821     20.54
21822     43.52
21823     33.85
21824     40.54
21825     53.71
Name: Valor Bruto m2, Length: 21826, dtype: float64

In [42]:
dados_aux

      Tipo Agregado  Valor m2
0       Apartamento     42.50
1              Casa     70.00
2       Apartamento     53.33
3       Apartamento     16.67
4       Apartamento     26.00
5              Casa     29.33
6              Casa     15.38
7       Apartamento     21.43
8       Apartamento     16.67
9       Apartamento     50.00
10      Apartamento     66.67
11      Apartamento     53.50
12             Casa     17.39
13      Apartamento     17.59
14      Apartamento     25.37
15      Apartamento     17.27
16             Casa     16.09
17      Apartamento     14.71
18      Apartamento     25.64
19      Apartamento     56.00
20      Apartamento     15.62
21      Apartamento     24.00
22             Casa     30.00
23      Apartamento     32.89
24      Apartamento     26.46
25      Apartamento     30.56
26      Apartamento     21.90
27      Apartamento     35.45
28      Apartamento     48.15
29      Apartamento     17.50
...             ...       ...
21796   Apartamento     36.36
21797   Apartamento     25.00
21798   Apartamento     34.48
21799   Apartamento     17.39
21800   Apartamento     27.42
21801          Casa     20.00
21802   Apartamento     12.70
21803   Apartamento      8.33
21804          Casa     31.25
21805   Apartamento     27.78
21806   Apartamento     20.00
21807   Apartamento     28.21
21808   Apartamento     86.00
21809   Apartamento     58.57
21810   Apartamento     39.00
21811   Apartamento     26.47
21812   Apartamento     23.47
21813   Apartamento     39.29
21814   Apartamento     17.61
21815   Apartamento     68.18
21816   Apartamento     37.50
21817   Apartamento    100.00
21818   Apartamento     35.71
21819   Apartamento     19.23
21820          Casa     33.33
21821   Apartamento     12.86
21822   Apartamento     29.63
21823   Apartamento     23.08
21824   Apartamento     29.17
21825   Apartamento     42.86

[21826 rows x 2 columns]

In [43]:
dados.drop(['Valor Bruto', 'Valor Bruto m2'], axis = 1, inplace = True)

In [44]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento

In [45]:
dados.to_csv('dados/aluguel_residencial.csv', sep = ';', index = False)